
.producten {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 20px;
}

.item-a {
    grid-area: filter;
}

.item-b {
    grid-area: products;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "filter products products products";
}

article section a {
    text-decoration: none;
}

article section .pphoto {
    width: 300px;
    height: 300px;
    grid-area: photo;
}

article section h4 {
    grid-area: name;
}

article section p {
    grid-area: price;
    justify-self: end;
    align-self: center;
}

article section .star {
    grid-area: star;
    justify-self: start;
}

article section .cart {
    grid-area: cart;
    justify-self: end;
}

article section {
    display: grid;
    grid-template-columns: 230px 70px;
    grid-template-rows: 300px auto 44px;
    grid-template-areas: "photo photo"
                          "name  price"
                          "star   cart";
}

.filters ul {
    list-style: none;
    padding-left: 10px;
}

.filters ul li ul li {
    padding-left: 10px;
}

input {
    display: none;
}

.all {
    display: none;
}

input#all:checked ~ main .all {
    display: inline-block;
    align-self: start;
}

input#Beschikbaar:checked ~ main .Beschikbaar {
    display: initial;
    align-self: flex-start;
}

input#BinenkortBeschikbaar:checked ~ main .BinenkortBeschikbaar, input#NietBeschikbaar:checked ~ main .NietBeschikbaar,
input#Ilca:checked ~ main .Ilca, input#Harken:checked ~ main .Harken, input#Allen:checked ~ main .Allen, input#Windesign:checked ~ main .Windesign,
input#Zwart:checked ~ main .Zwart, input#Blauw:checked ~ main .Blauw, input#Roze:checked ~ main .Roze, input#Rood:checked ~ main .Rood,
input#Aluminium:checked ~ main .Aluminium, input#Carbon:checked ~ main .Carbon, input#Inox:checked ~ main .Inox, input#IJzer:checked ~ main .IJzer {
    display: initial;
}

input#all:checked ~ main label#lblall, input#Beschikbaar:checked ~ main label#lblBeschikbaar,
input#BinenkortBeschikbaar:checked ~ main label#lblBinenkortBeschikbaar, input#NietBeschikbaar:checked ~ main label#lblNietBeschikbaar,
input#Ilca:checked ~ main label#lblIlca, input#Harken:checked ~ main label#lblHarken, input#Allen:checked ~ main label#lblAllen,
input#Windesign:checked ~ main label#lblWindesign, input#Zwart:checked ~ main label#lblZwart, input#Blauw:checked ~ main label#lblBlauw,
input#Roze:checked ~ main label#lblRoze, input#Rood:checked ~ main label#lblRood, input#Aluminium:checked ~ main label#lblAluminium,
input#Carbon:checked ~ main label#lblCarbon, input#Inox:checked ~ main label#lblInox, input#IJzer:checked ~ main label#lblIJzer {
    text-decoration-line: underline;
    font-weight: bold;
}
label{
    cursor: pointer;
}