
.producten {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.item-a {
    grid-area: filter;
}

.item-b {
    grid-area: products;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "filter products products products";
}


.productContainer .pphoto {
    grid-area: photo;
}

.productContainer h4 {
    grid-area: name;
}

.productContainer p {
    grid-area: price;
}

.productContainer .star {
    grid-area: star;
}

.productContainer .cart {
    grid-area: cart;
}

.productContainer {
    display: grid;

}



