
.producten {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.item-a {
    grid-area: filter;
}

.item-b {
    grid-area: products;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "filter products products products";
}



