:root{
--black-coral: #48555Dff;
--silver-sand: #C5C9CEff;
--cadet-grey: #92A9BFff;
--slate-gray: #5F7686ff;
--charcoal: #385261ff;
}


body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--cadet-grey);
}

.nav{
    display: flex;
}

.nav a{
    text-decoration: none;
    color: var(--silver-sand);
    font-size: 30px;
}

.nav ul{
    padding: 0;
    background-color: var(--charcoal);
    margin-bottom: 23px;
}
.nav li{
    display: inline-block;
    padding: 4px;
}
.nav li:hover{
    background-color: var(--black-coral);
}

.active{
    background-color: var(--slate-gray);
}

p {
    color: var(--black-coral);
}

.nav img{
    padding-right: 5px;
}

.hideTitle{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left:-10000px;
}

.dropdown{
    display: none;
}

a {
    color: var(--black-coral);
}

.space{
    padding-left: 1060px;
    padding-right: 20px;
}

.nextLine {
    width: 100%;
}
